@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@mixin domain-image {
  width: 375px;
  height: 375px;
  @media (max-width: 1000px) {
    width: 250px;
    height: 250px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

@mixin form-container {
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 453px;
  padding: 40px 37px 24px 43px;
  background: #ffffff;
  border-radius: 4px;
  @media (max-width: 1000px) {
    padding: 20px;
  }
  @media (max-width: 480px) {
    padding: 10px;
    width: 80%;
  }
}

@mixin form-label {
  font-weight: 300;
  font-size: 36px;
  @media (max-width: 767px) {
    margin: 10px auto;
    font-size: 22px;
  }
  @media (max-width: 480px) {
    margin: 10px auto;
    font-size: 18px;
  }
}

@mixin form-input {
  .form_input {
    width: 300px;
    height: 40px;
    padding: 0 0 0 21px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    @media (max-width: 480px) {
      width: 90%;
      font-size: 14px;
    }

    &::placeholder {
      font-weight: 300;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.2);
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}

@mixin form-text {
  .form_text {
    font-weight: 300;
    font-size: 18px;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}

@mixin form-button {
  .form_button {
    width: 195px;
    height: 40px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    align-self: flex-end;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-family: inherit;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    @media (max-width: 1000px) {
      align-self: center;
      margin-top: 15px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  @include form-text;
  @include form-input;
  @include form-button;
}

@mixin form-link {
  font-weight: 300;
  font-size: 18px;
  align-self: flex-end;
  color: black;
  text-decoration: none;
  @media (max-width: 1000px) {
    margin-top: 15px;
    align-self: center;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

@mixin modal-header {
  font-size: 36px;
  padding: 24px 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin modal-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 24px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin modal-cancel-btn {
  width: 146px;
  height: 40px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 12px;
}

@mixin modal-action-btn {
  width: 146px;
  height: 40px;
  background: rgba(197, 233, 255, 0.72);
  border: 2px solid rgba(197, 233, 255, 0.72);
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

@mixin modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.9);
}

@mixin main-modal {
  position: fixed;
  width: 642px;
  background: white;
  border-radius: 4px;
  left: calc(50% - 321px);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  .main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #c5e9ff;

    .main_header {
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767px) {
        justify-content: space-evenly;
      }
      @media (max-width: 480px) {
        min-width: 375px;
      }

      .header_logo {
        width: 90px;
        height: 72px;
        margin-left: 100px;
        @media (max-width: 767px) {
          margin-left: 0;
          width: 60px;
          height: 48px;
        }
      }

      .header_label {
        font-weight: 300;
        font-size: 36px;
        margin: 0 auto;
        @media (max-width: 767px) {
          font-size: 26px;
          margin-left: 0;
        }
        @media (max-width: 480px) {
          font-size: 22px;
        }
      }
      .header_logout-button {
        width: 156px;
        height: 45px;
        padding: 0;
        margin-right: 40px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
        font-weight: 300;
        font-size: 24px;
      }
    }

    .registration_content {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 60px;

      .registration_domain-image {
        @include domain-image;
      }

      .form-container {
        @include form-container;

        .form_label {
          @include form-label;
          margin: 0 0 20px 20px;
        }

        .registration-form {
          @include form;

          .form_error-text {
            height: 18px;
            color: red;
            font-size: 12px;
            line-height: 18px;

            p {
              padding-left: 5px;
              margin: 0;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        .link-to-authorization {
          margin-top: 8px;
          @include form-link;
        }
      }
    }

    .login_content {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 60px;

      .login_domain-image {
        @include domain-image;
      }

      .form-container {
        @include form-container;

        .form_label {
          @include form-label;
          align-self: center;
          margin: 0 0 40px 0;
        }

        .registration-form {
          @include form;
          .form_text {
            margin-top: 18px;
          }
          .form_input {
            margin-top: 8px;
          }
          .form_button {
            margin-top: 40px;
          }
        }

        .link-to-login {
          margin-top: 18px;
          @include form-link;
        }
      }
    }

    .general-appointments {
      display: flex;
      flex-direction: column;
      .general_form {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
        background: #c5e9ff;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 24px;
        .form_input-wrapper {
          display: flex;
          flex-direction: column;
          .general-appointments_label {
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 8px;
          }
          .ant-select-selector {
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
          }
          .ant-select-selection-item {
            line-height: 45px;
            font-family: inherit;
            font-size: 18px;
            font-weight: 300;
          }
          .ant-picker {
            width: 188px;
            height: 45px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            font-family: inherit;
            font-weight: 300;
            font-size: 18px;
          }
          .general-appointments_input {
            width: 188px;
            height: 45px;
            padding: 0 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
            background: #ffffff;
            font-size: 18px;
            font-family: inherit;
          }
          .ant-picker-input input {
            font-size: 18px;
            font-family: inherit;
            font-weight: 300;
          }
          .ant-calendar-picker-clear:hover {
            display: none;
          }
          .anticon-close-circle {
            display: none;
          }
        }
        .general-appointments_button {
          min-width: 131px;
          height: 45px;
          border-radius: 4px;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          padding: 0;
          margin-left: 12px;
          align-self: flex-end;
          cursor: pointer;
          font-size: 18px;
          &:disabled {
            cursor: not-allowed;
          }
        }
      }
      .tablet {
        width: 941px;
        margin: 24px auto;
        .name {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26%;
        }
        .doctor {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
        }
        .date {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 17%;
        }
        .complaint {
          width: 20%;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .tablet_header {
          display: flex;
          align-items: stretch;
          background: #c4c4c4;
          height: 60px;
          .tablet_header_title {
            font-size: 18px;
            margin-top: 24px;
            text-align: center;
          }
        }
        .tablet_main {
          background: #ffffff;
          border: 1px solid #000000;
          .tablet-row {
            display: flex;
            .tablet-row_item {
              font-size: 18px;
              text-align: center;
              padding: 5px 5px;
              border-right: 2px solid #000000;
            }
            .tablet-row_item_button_wrapper {
              width: 12%;
              display: flex;
              justify-content: center;
              .tablet-row_item_button {
                margin: 0 13px;
                padding: 0;
                border: none;
                background: white;
                cursor: pointer;
              }
            }
          }
        }
      }
      .modal-delete-appointment_wrapper {
        @include modal-wrapper;
        .modal-delete-appointment {
          @include main-modal;
          top: 300px;
          .modal-delete-appointment_header {
            @include modal-header;
          }
          .modal-delete-appointment_text {
            font-size: 24px;
            padding: 30px 44px 35px;
          }
          .modal-delete-appointment_btn_wrapper {
            @include modal-btn-wrapper;
            .modal-delete-appointment_cancel-btn {
              @include modal-cancel-btn;
            }
            .modal-delete-appointment_delete-btn {
              @include modal-action-btn;
            }
          }
        }
      }
      .modal-edit-appointment_wrapper {
        @include modal-wrapper;
        .modal-edit-appointment {
          @include main-modal;
          top: 22px;
          .modal-edit-appointment_header {
            @include modal-header;
          }
          .modal-edit-appointment_form {
            font-size: 18px;
            .modal-delete-appointment_input_wrapper {
              display: flex;
              flex-direction: column;
              padding: 24px 30px 50px 40px;
              .modal-edit-appointment_form_input {
                height: 40px;
                padding: 0 0 0 20px;
                margin: 8px 0 18px 0;
                outline: none;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                font-family: inherit;
                font-size: inherit;
              }
              .ant-select-selector {
                width: 100%;
                height: 40px;
                margin: 8px 0 18px 0;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 4px;
              }
              .ant-select-selection-item {
                line-height: 40px;
                font-family: inherit;
                font-size: 18px;
                font-weight: 300;
              }
              .ant-picker {
                width: 100%;
                height: 40px;
                margin: 8px 0 18px 0;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-family: inherit;
                font-weight: 300;
                font-size: 18px;
              }
              .ant-picker-input input {
                font-size: 18px;
                font-family: inherit;
                font-weight: 300;
              }
              .ant-select-arrow {
                top: calc(50% - 4px);
              }
              .ant-calendar-picker-clear:hover {
                display: none;
              }
              .anticon-close-circle {
                display: none;
              }
              .complaint_input {
                padding: 20px;
                height: 105px;
                resize: none;
              }
            }

            .modal-delete-appointment_btn_wrapper {
              @include modal-btn-wrapper;
              .modal-delete-appointment_cancel-btn {
                @include modal-cancel-btn;
              }
              .modal-delete-appointment_delete-btn {
                @include modal-action-btn;
              }
            }
          }
        }
      }
      .sort-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 941px;
        margin: 27px auto 14px;
        .sort-wrapper_text {
          margin: 0 18px;
          font-size: 18px;
        }
        .ant-select-selector {
          width: 200px;
          height: 47px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
        }
        .ant-select-selection-item {
          line-height: 47px;
          font-family: inherit;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }
}
.ant-select-item {
  font-size: 18px;
}
